    <form action="/search" class="search">
      <label for="search">Поиск:</label>
      <input type="text" name="search" class="search-form-input" required>
      <input class="header-link btn btn-primary" type="submit" value="Search">
    </form>
<div class="title-div"></div>

<div class="content"></div>
